In [1]:
import pandas as pd 
import numpy as np

In [2]:
train_data = pd.read_csv(r"C:\Users\liber\Documents\Datasets\Spaceship Titanic\train.csv")
train_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [3]:
train_data.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [4]:
test_data = pd.read_csv(r"C:\Users\liber\Documents\Datasets\Spaceship Titanic\test.csv")
test_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [5]:
Y = train_data.Transported
Y = np.array(Y).astype(int)

In [6]:
ayy = []
for i in train_data.Name:
    if type(i) == str:
        ayy.append(i.split(" "))
    else:
        ayy.append([i, i])
ayy = np.array(ayy, dtype=object)
ayy

array([['Maham', 'Ofracculy'],
       ['Juanna', 'Vines'],
       ['Altark', 'Susent'],
       ...,
       ['Fayey', 'Connon'],
       ['Celeon', 'Hontichre'],
       ['Propsh', 'Hontichre']], dtype=object)

In [7]:
ayy[:,1]

array(['Ofracculy', 'Vines', 'Susent', ..., 'Connon', 'Hontichre',
       'Hontichre'], dtype=object)

In [8]:
train_data["Name"] = ayy[:,1]

In [9]:
train_data["Name"].unique().shape

(2218,)

In [10]:
yeet = []
for i in test_data.Name:
    if type(i) == str:
        yeet.append(i.split(" "))
    else:
        yeet.append([i, i])
yeet = np.array(yeet, dtype=object)
yeet

array([['Nelly', 'Carsoning'],
       ['Lerome', 'Peckers'],
       ['Sabih', 'Unhearfus'],
       ...,
       ['Jayrin', 'Pore'],
       ['Kitakan', 'Conale'],
       ['Lilace', 'Leonzaley']], dtype=object)

In [11]:
set(set(ayy[:,1]) & set(yeet[:,1]))

{nan,
 'Simstravery',
 'Merce',
 'Keithunts',
 'Blangibson',
 'Kad',
 'Gearitte',
 'Fitzgerson',
 'Kirks',
 'Soun',
 'Mosepherry',
 'Scotterkins',
 'Hotte',
 'Kaufmaneyes',
 'Stingive',
 'Alvesssidy',
 'Harmond',
 'Powery',
 'Romason',
 'Saste',
 'Carreralend',
 'Ayalazquez',
 'Sterve',
 'Pokematic',
 'Hallahaney',
 'Sotond',
 'Purte',
 'Bardson',
 'Quinnerry',
 'Dillestron',
 'Mathison',
 'Aroodint',
 'Nane',
 'Nate',
 'Moodmandez',
 'Pottonalden',
 'Burchard',
 'Cooki',
 'Hinetthews',
 'Pressive',
 'Bush',
 'Sidne',
 'Conablese',
 'Fisty',
 'Scottney',
 'Coune',
 'Whitersone',
 'Tashal',
 'Curle',
 'Min',
 'Hermanapp',
 'Ches',
 'Mullericer',
 'Tranklinay',
 'Blan',
 'Rasty',
 'Owery',
 'Ruica',
 'Mcguirez',
 'Pre',
 'Peterstarks',
 'Roycentes',
 'Lardsonald',
 'Bra',
 'Stubtlarle',
 'Hamcmahon',
 'Blainson',
 'Horte',
 'Gulcepusy',
 'Estein',
 'Farmonrada',
 'Make',
 'Porki',
 'Santry',
 'Fielson',
 'Sloweber',
 'Slavested',
 'River',
 'Langatein',
 'Prucerod',
 'Hayder',
 'Unloweedic',
 'Calian',
 'Hardson',
 'Cattyried',
 'Clinantones',
 'Bake',
 'Bellarkerd',
 'Cleman',
 'Morgerson',
 'Hardsonerry',
 'Paska',
 'Chpie',
 'Waderoachez',
 'Hewson',
 'Pottmanley',
 'Opshosent',
 'Rutler',
 'Shephendry',
 'Nutca',
 'Shermann',
 'Amoutake',
 'Carvis',
 'Corman',
 'Bonnondry',
 'Ingent',
 'Blie',
 'Combson',
 'Mirinanty',
 'Hessey',
 'Upead',
 'Gainebergan',
 'Calazy',
 'Dawsoncis',
 'Mirandry',
 'Sellentry',
 'Bart',
 'Crakete',
 'Lacke',
 'Poustive',
 'Meplel',
 'Cort',
 'Josesh',
 'Kidne',
 'Ington',
 'Fowlesterez',
 'Rossey',
 'Flourbent',
 'Hoorbaring',
 'Antoshipson',
 'Polliamposs',
 'Swinvul',
 'Batestonley',
 'Racke',
 'Prin',
 'Mcbriguez',
 'Mcfarleys',
 'Burryerson',
 'Reewerpic',
 'Ainserfle',
 'Brine',
 'Wala',
 'Witalnerod',
 'Ortinericey',
 'Sulie',
 'Mickersones',
 'Pughlinsons',
 'Reke',
 'Traverdy',
 'Bradissive',
 'Chardsons',
 'Babre',
 'Charpelaney',
 'Ane',
 'Stie',
 'Erte',
 'Bootez',
 'Aloubtled',
 'Garrincent',
 'Chroeders',
 'Invebodene',
 'Lunapperts',
 'Blacks',
 'Kashe',
 'Wassid',
 'Shming',
 'Arneras',
 'Moraleney',
 'Schwardson',
 'Hoppers',
 'Rekle',
 'Kramosley',
 'Mallisly',
 'Flie',
 'Rushing',
 'Bertsontry',
 'Resendent',
 'Cleang',
 'Scottuez',
 'Waltonnedy',
 'Cabrewsond',
 'Impress',
 'Romez',
 'Folkshbox',
 'Banie',
 'Doughan',
 'Munozaley',
 'Win',
 'Mepie',
 'Quinnerettt',
 'Klinson',
 'Monfulewss',
 'Windend',
 'Anche',
 'Cotte',
 'Gilesonston',
 'Smalls',
 'Leblanchez',
 'Tionstious',
 'Unpasine',
 'Watie',
 'Cako',
 'Obeaded',
 'Lambucketty',
 'Delangleton',
 'Hammons',
 'Betie',
 'Thorney',
 'Connon',
 'Watuald',
 'Femoused',
 'Gillock',
 'Bagint',
 'Pamca',
 'Vincenton',
 'Dun',
 'Covetive',
 'Pringrous',
 'Tranciams',
 'Wolffy',
 'Brazo',
 'Cha',
 'Laai',
 'Alaring',
 'Monsintic',
 'Idlatchse',
 'Blace',
 'Stantiagord',
 'Fairdised',
 'Harrenoldez',
 'Clayson',
 'Bardinard',
 'Trerady',
 'Tairbatic',
 'Dedentive',
 'Noeley',
 'Undrude',
 'Krampbelles',
 'Gardsondez',
 'Frederry',
 'Brookes',
 'Baciffhaut',
 'Franton',
 'Supred',
 'Fordulgaug',
 'Backe',
 'Ricews',
 'Frie',
 'Staf',
 'Batthewitt',
 'Hickett',
 'Ramad',
 'Bardsey',
 'Mcbriggins',
 'Daughttley',
 'Fort',
 'Deeke',
 'Mayson',
 'Nguerrettye',
 'Pane',
 'Goodson',
 'Buth',
 'Wolfaddox',
 'Onpie',
 'Sche',
 'Catimod',
 'Schmondez',
 'Cone',
 'Lessonerry',
 'Platch',
 'Barnolderg',
 'Santantines',
 'Johnsby',
 'Hornettoney',
 'Willy',
 'Gardonadox',
 'Clake',
 'Sweenez',
 'Conaly',
 'Hersons',
 'Stranbeate',
 'Conie',
 'Mcfaddenson',
 'Camerrison',
 'Derterval',
 'Brakeril',
 'Solon',
 'Walkerez',
 'Roberrenn',
 'Wolferguson',
 'Heedry',
 'Mondsey',
 'Perne',
 'Chavezalez',
 'Stannondez',
 'Olivasquez',
 'Nolds',
 'Prickmantes',
 'Homin',
 'Pure',
 'Hoodgers',
 'Pri',
 'Kiddley',
 'Spedlinale',
 'Fine',
 'Balle',
 'Unhaftimle',
 'Bryants',
 'Mushe',
 'Glogry',
 'Oneidson',
 'Man',
 'Dan',
 'Bradiary',
 'Haftent',
 'Karte',
 'Pugherman',
 'Stanters',
 'Ericksonga',
 'Graie',
 'Noelan',
 'Simpsonks',
 'Holton',
 'Bellyonsley',
 'Kine',
 'Morrows',
 'Cookson',
 'Lendly',
 'Mad',
 'Strongers',
 'Knie',
 'Uningably',
 'Conca',
 'Brantcable',
 'Hamberterry',
 'Quelfly',
 'Anake',
 'Erle',
 'Prinson',
 'Llobsoney',
 'Queke',
 'Motive',
 'Sinda',
 'Gibbsonton',
 'Imparmle',
 'Stiviorad',
 'Popelacruz',
 'Sellahaney',
 'Bradamss',
 'Peake',
 'Hoppernardy',
 'Barris',
 'Stche',
 'Speedgear',
 'Wiggs',
 'Parrett',
 'Briggston',
 'Ments',
 'Stenson',
 'Malliamsey',
 'Dotsondez',
 'Fisheparks',
 'Winie',
 'Parklaney',
 'Reilline',
 'Ashipeck',
 'Poselfle',
 'Mirezavis',
 'Spirfuent',
 'Sad',
 'Alberts',
 'Hughriend',
 'Prist',
 'Josey',
 'Letty',
 'Whealeed',
 'Waring',
 'Bailes',
 'Dompreced',
 'Meyersones',
 'Beckeetter',
 'Weberts',
 'Bacistion',
 'Mckinsond',
 'Hendrewsons',
 'Netshaless',
 'Hortez',
 'Contrevins',
 'Brooke',
 'Oilloody',
 'Prie',
 'Avidson',
 'Harmontry',
 'Barrison',
 'Ryanga',
 'Dianket',
 'Buche',
 'Roachoanand',
 'Blange',
 'Dillips',
 'Datie',
 'Ble',
 'Bun',
 'Venticable',
 'Amspring',
 'Wingcoling',
 'Hales',
 'Holson',
 'Coustive',
 'Pokebox',
 'Meate',
 'Beckeey',
 'Tuckers',
 'Greeves',
 'Alshipson',
 'Meltonway',
 'Potthews',
 'Prité',
 'Jacostaffey',
 'Unkcatted',
 'Brooker',
 'Sosanturney',
 'Robersondez',
 'Cames',
 'Baldens',
 'One',
 'Mcbriddley',
 'Anthompson',
 'Slatessen',
 'Asolipery',
 'Date',
 'Lewinton',
 'Saf',
 'Fulous',
 'Cle',
 'Spentley',
 'Coolez',
 'Bakericks',
 'Kellynn',
 'Brie',
 'Farrowns',
 'Cooks',
 'Hoopez',
 'Fruidy',
 'Woody',
 'Aneter',
 'Torrez',
 'Pokerheed',
 'Hickerson',
 'Midtt',
 'Wardendez',
 'Franankson',
 'Gealter',
 'Vloaf',
 'Yanton',
 'Dickman',
 'Thony',
 'Gele',
 'Unregul',
 'Pearsalason',
 'Lancis',
 'Ste',
 'Brakeded',
 'Willynnedy',
 'Walé',
 'Semageary',
 'Mcleaney',
 'Clemondsey',
 'Walston',
 'Thomason',
 'Chaellerty',
 'Spedlybood',
 'Repie',
 'Moodsey',
 'Facke',
 'Che',
 'Bartines',
 'Valexandez',
 'Busive',
 'Curie',
 'Kidie',
 'Uncionted',
 'Filerst',
 'Mander',
 'Meau',
 'Sorticbar',
 'Mith',
 'Lerez',
 'Casentry',
 'Melez',
 'Fredersend',
 'Gread',
 'Mondalley',
 'Spopting',
 'Flynnis',
 'Hodgesss',
 'Balderts',
 'Fryersonis',
 'Garden',
 'Ellahan',
 'Reming',
 'Chen',
 'Pota',
 'Birds',
 'Fatted',
 'Paynard',
 'Mclarseney',
 'Cumpting',
 'Objeciane',
 'Fowlaney',
 'Ewins',
 'Monie',
 'Ricks',
 'Warrishales',
 'Bucklandez',
 'Clugete',
 'Cruzaley',
 'Bau',
 'Valousead',
 'Coopezmaney',
 'Sidie',
 'Frité',
 'Carsoning',
 'Burie',
 'Oppont',
 'Pooley',
 'Pabler',
 'Modomel',
 'Farleyatton',
 'Weaverays',
 'Landolphrey',
 'Obsentork',
 'Sawyerson',
 'Hopperett',
 'Huntt',
 'Kha',
 'Spore',
 'Jenkinnedy',
 'Parymider',
 'Jimes',
 'Stake',
 'Wilderssen',
 'Howenters',
 'Ashipson',
 'Nichaner',
 'Valezaley',
 'Pretive',
 'Frolestty',
 'Harta',
 'Vales',
 'Garnes',
 'Sturt',
 'Baxterson',
 'Monroellynn',
 'Gonzaley',
 'Wassird',
 'Moranthons',
 'Sueke',
 'Ineded',
 'Wooes',
 'Raste',
 'Sweene',
 'Warrison',
 'Obnoftle',
 'Curton',
 'Lambles',
 'Tersimpson',
 'Bushins',
 'Pimne',
 'Goffey',
 'Queen',
 'Macdonadows',
 'Potterry',
 'Floways',
 'Botie',
 'Morrodgers',
 'Sterreray',
 'Wincer',
 'Pecketton',
 'Shrie',
 'Cooperkins',
 'Colomonson',
 'Geadle',
 'Foledges',
 'Pacerty',
 'Pager',
 'Scerodbox',
 'Rocknight',
 'Lette',
 'Holsen',
 'Flart',
 'Craing',
 'Hoffergess',
 'Pickleve',
 'Holcompton',
 'Contery',
 'Jarvey',
 'Buckeelez',
 'Ecart',
 'Lapie',
 'Byerton',
 'Sophaft',
 'Cainghannon',
 'Chardst',
 'Pumpeshaft',
 'Kie',
 'Coweboded',
 'Barks',
 'Solivers',
 'Lynnerett',
 'Vlart',
 'Mallerez',
 'Monsoney',
 'Stité',
 'Flate',
 'Kraie',
 'Shcad',
 'Harte',
 'Hart',
 'Whitez',
 'Ineedeve',
 'Bagetvable',
 'Calhounez',
 'Heney',
 'Kinad',
 'Speery',
 'Rigginsen',
 'Morrencis',
 'Rapie',
 'Maynardner',
 'Crosarios',
 'Roachez',
 'Powenoble',
 'Boyst',
 'Rickson',
 'Bakerson',
 'Frazo',
 'Ewisentley',
 'Daughessey',
 'Burnerez',
 'Alvercal',
 'Hardley',
 'Leonaldez',
 'Mejiaddox',
 'Watte',
 'Rilley',
 'Franchaney',
 'Heeroling',
 'Ingascomet',
 'Collinson',
 'Fulatorly',
 'Garzaley',
 'Exible',
 'Fuentryoung',
 'Inghtal',
 'Brity',
 'Burksson',
 'Blandez',
 'Frintful',
 'Gamberson',
 'Beasleyes',
 'Khaf',
 'Shoeweely',
 'Steelerettt',
 'Irwines',
 'Geoconne',
 'Pottley',
 'Dedinder',
 'Weissey',
 'Killé',
 'Hinglendez',
 'Mullon',
 'Mille',
 'Kellson',
 'Blake',
 'Scheron',
 'Herreras',
 'Callowery',
 'Cure',
 'Cardsay',
 'Gented',
 'Gordond',
 'Wiggson',
 'Sincy',
 'Whiters',
 'Cry',
 'Loway',
 'Crité',
 'Armstromez',
 'Boyersons',
 'Halexandez',
 'Woodwinez',
 'Pooles',
 'Buckeenez',
 'Emead',
 'Empie',
 'Lardy',
 'Simsey',
 'Joynewtonks',
 'Polksy',
 'Siccertful',
 'Saley',
 'Barte',
 'Goods',
 'Sextones',
 'Bushallert',
 'Fansty',
 'Sweett',
 'Colte',
 'Rushorney',
 'Sykess',
 'Watsongley',
 'Panie',
 'Ocherman',
 'Solinez',
 'Brathful',
 'Penashley',
 'Eccle',
 'Gaineyerson',
 'Delazarson',
 'Wolferton',
 'Philliames',
 'Mcdowns',
 'Bairdyork',
 'Iccle',
 'Bla',
 'Hooperez',
 'Healist',
 'Conale',
 'Coxterez',
 'Snoff',
 'Siveduced',
 'Clutcheed',
 'Exhaft',
 'Gene',
 'Gilleranks',
 'Vendeck',
 'Cralinal',
 'Jenson',
 'Moodman',
 'Wilsoney',
 'Part',
 'Hake',
 'Polloantes',
 'Madan',
 'Bookson',
 'Estron',
 'Oinded',
 'Colleruces',
 'Couseced',
 'Kenzierry',
 'Gre',
 'Cartz',
 'Coflé',
 'Miltongson',
 'Chardsonnon',
 'Missefle',
 'Clinarfork',
 'Prombled',
 'Turtertive',
 'Biba',
 'Knoxonway',
 'Avisnydes',
 'Knoxtones',
 'Aginge',
 'Sache',
 'Evedorsen',
 'Davens',
 'Semootor',
 'Flynney',
 'Mirez',
 'Hopez',
 'Fisherry',
 'Benney',
 'Barkeretton',
 'Fonie',
 'Hacle',
 'Suptibler',
 'Trallect',
 'Mosteraked',
 'Fanchy',
 'Gecre',
 'Douglasen',
 'Valey',
 'Barbes',
 'Leson',
 'Dynigic',
 'Mejiarkerox',
 'Jaf',
 'Byerry',
 'Estevesters',
 'Burchrison',
 'Fle',
 'Baketton',
 'Mcneiley',
 'Sake',
 'Fictful',
 'Burle',
 'Hayertez',
 'Traie',
 'Valing',
 'Braymon',
 'Ewiseston',
 'Tecre',
 'Meroliss',
 'Mckins',
 'Fushausive',
 'Geatenth',
 'Kniva',
 'Bartez',
 'Casez',
 'Mormonized',
 'Staffersby',
 'Mcfaddennon',
 'Kerristicey',
 'Dal',
 'Harley',
 'Keen',
 'Jacostaney',
 'Cola',
 'Edwartizman',
 'Coley',
 'Hometerval',
 'Rames',
 'Irwinson',
 'Embleng',
 'Georgasey',
 'Coarswing',
 'Shephendery',
 'Byerson',
 'Raney',
 'Coleyanglas',
 'Nasquez',
 'Horners',
 'Amincrerus',
 'Fiha',
 'Burchanez',
 'Norry',
 'Balightal',
 'Parsoney',
 'Heracker',
 'Steen',
 'Headmish',
 'Prine',
 'Mcdanield',
 'Mcfarmerson',
 'Cochrisons',
 'Flell',
 'Deckley',
 'Flynner',
 'Cassiding',
 'Barnoldeney',
 'Santin',
 'Masquez',
 'Stracary',
 'Slates',
 'Workmanson',
 'Englence',
 'Griffince',
 'Bears',
 'Flowensley',
 'Beake',
 'Gentledges',
 'Lewintos',
 'Beling',
 'Buckleinson',
 'Fache',
 'Pelte',
 'Cleachrand',
 'Hubbarnett',
 'Mulley',
 'Unrent',
 'Dratembid',
 'Simonson',
 'Brensonsen',
 'Gooki',
 'Botte',
 'Chité',
 'Ousious',
 'Potte',
 'Droning',
 'Matts',
 'Owerson',
 'Mostedry',
 'Wagnerray',
 'Blanglison',
 'Mcleandez',
 'Maystuarey',
 'Cartiz',
 'Spien',
 'Cread',
 'Robley',
 'Mayder',
 'Oirmplathy',
 'Sacle',
 'Pepie',
 'Cardners',
 'Paie',
 'Duffmaney',
 'Brakeng',
 'Gordanieves',
 'Terry',
 'Drivery',
 'Tiouserful',
 'Monpreery',
 'Opie',
 'Emetillove',
 'Booness',
 'Pringry',
 'Ambleetive',
 'Buckson',
 'Fryes',
 'Improus',
 'Forne',
 'Chnik',
 'Fishopper',
 'Lamberguson',
 'Lake',
 'Erry',
 'Brantuarez',
 'Mayods',
 'Lansuffle',
 'Mcbritts',
 'Pien',
 'Bewarsecal',
 'Stment',
 'Stichseary',
 'Hotty',
 'Peterive',
 'Panspic',
 'Burtiz',
 'Persoffly',
 'Parte',
 'Mcintons',
 'Horndley',
 'Moorez',
 'Carezquez',
 'Miranciash',
 'Huffy',
 'Dischod',
 'Horthy',
 'Fuleng',
 'Workmans',
 'Reeddommy',
 'Rocholton',
 'Leodger',
 'Hodes',
 'Garnettiz',
 'Merrelliss',
 'Guerson',
 'Sedece',
 'Cracionfic',
 'Folhal',
 'Aiming',
 'Sandry',
 'Meteet',
 'Wriggins',
 'Roforhauge',
 'Taptiritty',
 'Irintious',
 'Baxters',
 'Patthews',
 'Hartley',
 'Webstephrey',
 'Fuenterson',
 'Harperez',
 'Bert',
 'Nairconed',
 'Coillery',
 'Salez',
 'Baldson',
 'Onbre',
 'Cofferson',
 'Norrison',
 'Bulliamoses',
 'Knike',
 'Sullones',
 'Morez',
 'Ressighty',
 'Entenedy',
 'Emone',
 'Unhearfus',
 'Meltoney',
 'Kramorry',
 'Unciate',
 'Hac',
 'Hestes',
 'Howence',
 'Perrerojass',
 'Gulthler',
 'Ineysive',
 'Donson',
 'Vlake',
 'Boyerson',
 'Jacostarks',
 'Navages',
 'Suarging',
 'Unreezy',
 'Frasp',
 'Larks',
 ...}

In [12]:
ignorar = set(set(ayy[:,1]) ) - set(set(ayy[:,1]) & set(yeet[:,1]))

In [13]:
len(ignorar)

681

In [14]:
train_data["Name"].replace(to_replace = ignorar,value= np.NaN, inplace=True)

In [15]:
train_data["Name"].unique().shape

(1537,)

In [16]:
train_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,NaN,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,NaN,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Hontichre,True

In [17]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import RobustScaler
from sklearn.impute import KNNImputer

In [18]:
def preprocessamento(train, test):
    data = [train, test]
    encoder = OneHotEncoder(handle_unknown='ignore', drop='if_binary', sparse_output=False)
    scaler = RobustScaler()
    imputer = KNNImputer(n_neighbors=5)
    for j, k in enumerate(data):
        numericas = k[["Age", "RoomService", "FoodCourt", "ShoppingMall", "Spa", "VRDeck"]]
        categoricas = k[["Name", "HomePlanet", "CryoSleep", "Destination", "VIP"]]
        cabines = k.Cabin
        lista = []
        for i in cabines:
            if type(i) == str:
                lista.append(i.split("/"))
            else:
                lista.append([i, i, i])
        lista = np.array(lista)
        categoricas["Cabin_deck"] = lista[:, 0]
        numericas["Cabin_room"] = lista[:, 1]
        categoricas["Cabin_side"] = lista[:, 2]
        
        if j == 0:
            categoricas = encoder.fit_transform(categoricas)
            numericas = scaler.fit_transform(numericas)
            dados = np.hstack((numericas, categoricas))
            train = imputer.fit_transform(dados)
        elif j == 1:
            categoricas = encoder.transform(categoricas)
            numericas = scaler.transform(numericas)
            dados = np.hstack((numericas, categoricas))
            test = imputer.transform(dados)
    return [train, test]

In [19]:
dados = preprocessamento(train_data, test_data)

C:\Users\liber\AppData\Local\Temp\ipykernel_23768\2831742521.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricas["Cabin_deck"] = lista[:, 0]
C:\Users\liber\AppData\Local\Temp\ipykernel_23768\2831742521.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numericas["Cabin_room"] = lista[:, 1]
C:\Users\liber\AppData\Local\Temp\ipykernel_23768\2831742521.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricas["Cabin_side"] = lista[:, 2]
C:\Users\liber\AppData\Local\Temp\ipykernel_23768\2831742521.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricas["Cabin_deck"] = lista[:, 0]
C:\Users\liber\AppData\Local\Temp\ipykernel_23768\2831742521.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numericas["Cabin_room"] = lista[:, 1]
C:\Users\liber\AppData\Local\Temp\ipykernel_23768\2831742521.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricas["Cabin_side"] = lista[:, 2]
c:\Conda\envs\TensorFlow\lib\site-packages\sklearn\preprocessing\_encoders.py:182: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [20]:
test = dados[1]
test.shape

(4277, 1570)

In [21]:
train = dados[0]
train.shape

(8693, 1570)

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(train, Y, test_size=0.20, random_state=2023)

In [23]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [24]:
log_reg = LogisticRegression(random_state=2023, solver='lbfgs', max_iter=100000).fit(X_train, y_train)
log_reg.score(X_val, y_val)

0.7849338700402531

In [25]:
adab = AdaBoostClassifier(n_estimators=650, random_state=10).fit(X_train, y_train)
adab.score(X_val, y_val)

0.7780333525014376

In [26]:
gbc7 = GradientBoostingClassifier(n_estimators=1320, random_state=10).fit(X_train, y_train)
gbc7.score(X_val, y_val)

0.8062104657849338

In [27]:
test_data = pd.read_csv(r"C:\Users\liber\Documents\Datasets\Spaceship Titanic\test.csv")
test_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [28]:
test

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [-0.42105263,  0.        ,  0.11842105, ...,  0.        ,
         1.        ,  0.        ],
       [ 0.21052632,  0.        ,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 0.37894737,  0.        ,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       [ 0.38947368,  0.        , 35.26315789, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.84210526,  0.        ,  0.        , ...,  0.        ,
         1.        ,  0.        ]])

In [29]:
train

array([[ 6.31578947e-01,  0.00000000e+00,  0.00000000e+00, ...,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-1.57894737e-01,  2.31914894e+00,  1.18421053e-01, ...,
         0.00000000e+00,  1.00000000e+00,  0.00000000e+00],
       [ 1.63157895e+00,  9.14893617e-01,  4.70526316e+01, ...,
         0.00000000e+00,  1.00000000e+00,  0.00000000e+00],
       ...,
       [-5.26315789e-02,  0.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  1.00000000e+00,  0.00000000e+00],
       [ 2.63157895e-01,  0.00000000e+00,  1.38026316e+01, ...,
         0.00000000e+00,  1.00000000e+00,  0.00000000e+00],
       [ 8.94736842e-01,  2.68085106e+00,  6.16842105e+01, ...,
         0.00000000e+00,  1.00000000e+00,  0.00000000e+00]])

In [30]:
Y

array([0, 1, 0, ..., 1, 0, 1])

In [31]:
clas_final = GradientBoostingClassifier(n_estimators=1320, random_state=10).fit(train, Y)

In [32]:
clas_final.score(train, Y)

0.8910617738410215

In [33]:
RESULTADOS = clas_final.predict(test)
RESULTADOS

array([1, 0, 1, ..., 1, 1, 1])

In [34]:
RESULTADOS = np.array(RESULTADOS, dtype=bool)

In [35]:
test_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [36]:
test_data.insert(loc=1, column='Transported', value=RESULTADOS)
test_data

,PassengerId,Transported,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,True,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,False,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,True,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,True,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,True,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,True,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,False,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,True,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,True,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,True,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [37]:
test_data[["PassengerId", "Transported"]]

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01         True
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01         True
4276     9277_01         True

[4277 rows x 2 columns]

In [38]:
test_data[["PassengerId", "Transported"]].to_csv(r"C:\Users\liber\Documents\GitHub\Portifolio\Kaggle\Space_Titanic_resp3.csv", index=False)